{% extends 'coffeshop/base1.html' %}
{% load tailwind_filters %}
  
{% block content %}


  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
        Create order №{{ buying.id }}
      </h2>
    </div>
    <div >
      <form method="POST">
        {% csrf_token %}
        <button type="submit"  name="create"
            class="inline-flex items-center px-3 py-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Create
          </button>
      </form>
    </div>
  </div>


  <div class="mt-4 flex md:mt-0 md:ml-4">
    <button name="add" hx-get="{% url 'create-order-form' %}" hx-target="#orderforms" hx-swap="beforeend"
      class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Add product
    </button>
  </div>
  
  <div id="orderforms" class="py-1 mt-1"></div>
  

  <div class="mt-1 py-1 border-t border-gray-100">
    {% for order in orders %}
      {% include "coffeshop/partials/order_detail.html" %}
    {% endfor %}
  </div>
    
{% endblock %}
    